.layout .ant-layout-header{
  background: #ffffff;
}

.header-class{
  border-bottom: 1px solid $border;
  /* -webkit-box-shadow: 0px 14px 39px -6px rgba(158,165,156,1);
-moz-box-shadow: 0px 14px 39px -6px rgba(158,165,156,1);
box-shadow: 0px 14px 39px -6px rgba(158,165,156,1); */
}
.nav-class{
  line-height: 62px;
  float: right;
}
.ant-menu-horizontal{
  border-bottom: 0px !important;
}


.search-row{
  margin : 20px 0px;
}
.search-bar {
  height: 55px !important;

}
.ant-input-suffix .ant-btn-lg{
  padding: 0px 35px !important;
  height:  55px !important;
}
.search-bar .ant-input {
  border: none !important;
  -webkit-box-shadow: 0px 14px 51px -13px rgba(158,165,156,1);
-moz-box-shadow: 0px 14px 51px -13px rgba(158,165,156,1);
box-shadow: 0px 14px 51px -13px rgba(158,165,156,1);
}

.content-row-tab{
  margin: 40px 0px;
}

.footer-custom {
  height: 350px;
  background: $gray-dark !important;
}
