.top_jobs-section {
  padding: 20px;

}
 .top-jobs-title {
  border-bottom: 1px solid $swatch_5;
  font-weight: 300 !important;
  padding-bottom: 12px;
}
.right-section-tab {
  margin-top: 40px;
}

.track-time-section{
  background: $white-back;
  height: auto;
  padding: 20px;
  border: 1px solid $border;
  border-radius: 4px;
  text-align: center;
}
.time-image{
  height: 70px;
  width: 70px;
  margin: 20px;
}
