$primary-color: #6cb1ee;
$gray: #adb9c9;
$gray-dark : #283F54;
$gray-medium: #8393A7;
$gray-light:#c9d3df;
$white:#fbfcfd;
$white-back:#ffffff;
$border:#ebeff3;
$swatch_1: #f9fbfc;
$swatch_2: #8ed5fe;
$swatch_3: #6cb1ee;
$swatch_4: #d0d6dc;
$swatch_5: #9ea59c;
